@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Nohemi", system-ui, sans-serif;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
button,
label {
    font-weight: 400;
}

select:active option {
    margin: 20px 0px !important;
    padding: 20px !important;
    height: 40px !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.label-radio {
    cursor: pointer;
}

.label-radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-radio {
    box-shadow: 0px 0px 0px 1px #6d6d6d;
    font-size: 3em;
    width: 17px;
    height: 17px;
    margin-right: 7px;
    border: 2px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;

}

/* .border-gray {
    box-shadow: 0px 0px 0px 1px #6d6d6d;
}
 */
.error-currently {
    box-shadow: 0px 0px 0px 1px red;
}

.error-driveTrain {
    box-shadow: 0px 0px 0px 1px red;
}

.input-radio.on:checked {
    box-shadow: 0px 0px 0px 2px #000;
    background-color: #000;
}

.h-custom-chat {
    height: calc(100vh - 66px);
}

.h-custom-chat-panel {
    height: calc(100vh - 290px);
    padding-right: 20px;
}

.h-custom-chat-panel::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.h-custom-chat-panel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.h-custom-chat-panel::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.h-custom-chat-panel::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input.input-shat:focus {
    border: none;

}

.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0B1107;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked+label:before {
    background-color: #0B1107;
}


.form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #c1f861;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

label.label-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 13px;
}

label.label-colors-error {
    border: 1px solid red;
}


.input-radio.on-white:checked {
    box-shadow: 0px 0px 0px 2px #000000;
    background-color: #ffffff;
}

.input-radio.on-red:checked {
    box-shadow: 0px 0px 0px 2px #FF333E;
    background-color: #FF333E;
}

.input-radio.on-black:checked {
    box-shadow: 0px 0px 0px 2px #000;
    background-color: #000;
}

.input-radio.on-silver:checked {
    box-shadow: 0px 0px 0px 2px #E0E0E0;
    background-color: #E0E0E0;
}

.input-radio.on-grey:checked {
    box-shadow: 0px 0px 0px 2px #858585;
    background-color: #858585;
}


.input-radio.on-greendark:checked {
    box-shadow: 0px 0px 0px 2px #316C40;
    background-color: #316C40;
}

.input-radio.on-brown:checked {
    box-shadow: 0px 0px 0px 2px #AF8E61;
    background-color: #AF8E61;
}

.input-radio.on-yellow:checked {
    box-shadow: 0px 0px 0px 2px #FBDB17;
    background-color: #FBDB17;
}

.input-radio.on-green:checked {
    box-shadow: 0px 0px 0px 2px #05A54B;
    background-color: #05A54B;
}

.input-radio.on-blue:checked {
    box-shadow: 0px 0px 0px 2px #1F94F0;
    background-color: #1F94F0;
}






.mySwiper {
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10)
}


.mySwiperHome .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 54% !important;
}

.swiper-pagination-bullet {
    background-color: #686868 !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.btn {
    display: flex;
    padding: 9px 22px 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
}

.main-login {
    height: calc(100vh - 140px);
}

.swiper-pagination-progressbar-fill {
    background-color: #0B1107 !important;
}

.swiper-pagination-progressbar {
    background-color: #E0E0E0;
    height: 4px;
    margin-top: 10px;
    width: 97% !important;
    left: 2% !important;
}

.mySwiperHome .swiper-wrapper {
    height: 300px !important;
}

.mySwiperHome .swiper-wrapper img {
    height: 100% !important;
    object-fit: cover !important;
}

.swiper.mySwiperHome {
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.stepsSwiper .swiper-pagination {
    position: absolute;
    top: 10px !important;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.stepsSwiper .swiper-pagination-bullet {
    width: 100%;
    border-radius: var(--swiper-pagination-bullet-border-radius, 0%);
    background-color: #979797 !important;
    height: 4px !important;
}

.stepsSwiper .swiper-pagination-bullet-active {
    background: #0B1107 !important;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0 0px;
}

.switch>span {
    position: absolute;
    top: 8px;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: #22282f;
}

input.check-toggle-round-flat:checked~.on {
    color: #919191;
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: #22282f;
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: #919191;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #ffffff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #ffffff;
    border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: var(--color-primary);
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label {}

input.check-toggle-round-flat:checked+label:after {
    margin-left: 44px;
}

.error-container {
    text-align: center;
    font-size: 106px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 70px 15px;
}

.error-container>span {
    display: inline-block;
    position: relative;
}

.error-container>span.four {
    width: 136px;
    height: 43px;
    border-radius: 999px;
    background:
        linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%),
        linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%),
        linear-gradient(to right, #d89ca4, #e27b7e);
}

.error-container>span.four:before,
.error-container>span.four:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
}

.error-container>span.four:before {
    width: 43px;
    height: 156px;
    left: 60px;
    bottom: -43px;
    background:
        linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%),
        linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%),
        linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container>span.four:after {
    width: 137px;
    height: 43px;
    transform: rotate(-49.5deg);
    left: -18px;
    bottom: 36px;
    background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F);
}

.error-container>span.zero {
    vertical-align: text-top;
    width: 156px;
    height: 156px;
    border-radius: 999px;
    background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%),
        linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
    overflow: hidden;
    animation: bgshadow 5s infinite;
}

.error-container>span.zero:before {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(45deg);
    width: 90px;
    height: 90px;
    background-color: transparent;
    left: 0px;
    bottom: 0px;
    background:
        linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
        linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container>span.zero:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 999px;
    width: 70px;
    height: 70px;
    left: 43px;
    bottom: 43px;
    background: #FDFAF5;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes bgshadow {
    0% {
        box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
    }
}

.h-custom {
    height: calc(100vh - 56px);
}

.shadow-steps {
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.hr-custim-1,
.hr-custim-2,
.hr-custim-3 {
    position: relative;
}

.hr-custim-1::after,
.hr-custim-2::after {
    content: '';
    position: absolute;
    width: 20px;
    bottom: 0;
    border: 1px solid #E0E0E0;
    transform: rotate(90deg);
    left: 10px;
    bottom: -16px;

}

.custom-header-all {
    height: calc(100vh - 160px);
}

.custom-picker .dp__input {
    border-radius: 8px !important;
    height: 42px !important;
}

.error-picker .dp__input {
    border: 1px solid red;
}
.swiper-autions{
    max-height: 250px !important;
}
.swiper-autions .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 87% !important;
}

.swiper-autions .swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
}

.swiper-autions .swiper-pagination-bullet-active {
    background-color: #c1f861 !important;
}

/* .swiper-autions .swiper-wrapper img {
    height: 250px !important;
    object-fit: contain;
} */
.swiper-autions .swiper-slide {
    background-color: red;
}

.myCrousel .swiper-slide {
    width: 100%;
    /*  display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

.myCrousel2 {
    width: 100%;
}

.myCrousel {
    width: 70%;
}

.myCrousel .swiper-slide {
    width: 100% !important;
    /*   height: 100px !important; */
}

.myCrousel .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

}

.myCrousel .swiper-wrapper img {
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
    /*  box-shadow: 0px 0px 4px 1px #555555f7; */
    filter: grayscale(0.7);
}

.myCrousel .swiper-wrapper img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transition: all ease 0.5s;
}

.myCrousel2 .swiper-wrapper {
    height: 750px !important;
}

.myCrousel .swiper-slide {
    height: 240px !important;
}

.myCrousel .swiper-slide img {
    height: 100% !important;
}

.myCrousel2 .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px #555555f7;
}

.mySwiper2 {
    width: 100%;
}

.chat {
    display: flex;
    overflow: hidden;
    height: 100%;
    padding: 20px;
    padding-left: 15px;
    gap: 20px;
    flex-direction: column;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.chat-content {
    width: calc(100% - 60px);
}

.chat-avatar {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;
}

.chat-text--small {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.chat-text--large {
    width: 100%;
    height: 74px;
    margin-top: 5px;
    border-radius: 5px;
}

.loading {
    position: relative;
    background-color: #E2E2E2;
}

.loading::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.container-seaxrh {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-seaxrh input[type=text] {
    position: relative;
    padding: 10px 40px 5px 20px;
    width: 20px;
    color: #525252;
    font-size: 16px;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
}

.container-seaxrh input[type=text]:focus {
    width: 300px;
    border: 1px solid rgb(224 224 224);
}

.container-seaxrh svg {
    position: relative;
    left: -37px;
    color: #8233C5;
}

.social {
    position: absolute;
    right: 35px;
    bottom: 35px;
}

.social img {
    display: block;
    width: 32px;
}

.progress {
    background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
    border: solid 2px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
}

.shado-yes-img{
    box-shadow: 1px 1px 9px -6px black;
}
  