<!DOCTYPE html>
<html lang="en">

<body class="container">
  <main>
    <div style="background-color: #f9f9f9">
      <div style="margin: 0px auto; max-width: 640px; background: transparent">
        <table role="presentation" cellpadding="0" cellspacing="0"
          style="font-size: 0px; width: 100%; background: transparent" align="center" border="0">
          <tbody>
            <tr>
              <td style="
              text-align: center;
              vertical-align: top;
              direction: ltr;
              font-size: 0px;
              padding: 40px 0px;
            ">
                <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="
                vertical-align: top;
                display: inline-block;
                direction: ltr;
                font-size: 13px;
                text-align: left;
                width: 100%;
              ">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="
                        word-break: break-word;
                        font-size: 0px;
                        padding: 0px;
                      " align="center">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="
                          border-collapse: collapse;
                          border-spacing: 0px;
                        " align="center" border="0">
                            <tbody>
                              <tr>
                                <td style="
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                              ">
                                  <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 183 147" fill="none">
                                    <path
                                      d="M116.67 44.8313C118.5 45.2913 119.47 45.0113 119.69 44.6513C117.09 40.9813 109.54 41.0613 107.37 45.3213C107.25 46.1713 107.68 46.5813 108.23 46.4513C110.29 43.8113 115.37 43.7813 116.67 44.8213V44.8313Z"
                                      fill="#A0F818" />
                                    <path
                                      d="M112.331 49.1216C111.561 49.8616 114.251 49.7516 115.961 49.7216C117.661 49.7016 118.041 49.9716 118.851 50.3916C119.661 50.8216 120.711 49.9616 120.281 49.3616C118.911 47.4216 114.361 47.1516 112.331 49.1116V49.1216Z"
                                      fill="#A0F818" />
                                    <path
                                      d="M122.76 19.4506C75.7796 -7.66937 23.7396 -5.48937 6.52963 24.3206C-10.6804 54.1306 13.4495 100.291 60.4295 127.411C107.41 154.531 159.45 152.351 176.66 122.541C193.87 92.7306 169.74 46.5706 122.76 19.4506ZM97.0296 116.111C69.1396 107.401 80.3996 76.2506 83.4496 71.1106C83.4496 71.1106 79.2397 65.6306 80.8197 61.1106C81.5197 65.0706 85.1894 71.1406 89.0594 73.4106C89.4394 73.6306 90.8294 74.2406 91.2894 72.9006C88.0894 71.0406 83.1196 64.2706 82.9896 59.5406C82.8596 54.8006 88.1095 52.1406 92.8495 59.4806C97.5895 66.8106 94.1294 70.1706 94.3294 78.7006C94.5294 87.2306 102.549 96.7606 110.639 99.0906C109.289 97.9906 107.47 93.7606 107.49 91.8106C108.49 93.5306 113.64 96.6906 114.74 104.671C116.2 115.231 106.9 119.221 97.0296 116.141V116.111ZM162.139 101.941C157.619 109.771 149.96 115.121 140.389 117.931C131.52 120.531 122.23 115.351 119.61 106.491C119.15 104.921 118.649 103.371 118.119 101.861C124.939 105.811 133.21 107.801 140.09 107.741C131.04 91.8906 135.96 76.9006 136.4 71.0606C136.83 65.2206 132.3 63.3406 129.16 65.8006C126.84 61.2106 121.57 63.5106 119.26 66.9606C116 71.8406 112.82 74.7206 107.09 74.9706C109.89 73.9606 113.94 71.5706 115.2 69.4006C98.3096 61.1806 97.5998 48.3806 102.69 42.7506C98.6298 40.0706 94.8294 33.5806 100.539 32.3206C106.899 30.9106 113.389 35.9606 118.639 34.6806C122.399 38.6506 129.66 51.7306 123.72 49.6106C125.11 52.3206 129.7 58.0106 130.96 61.3506C130.78 61.7506 129.159 62.7606 127.579 62.9106C131.039 64.4506 133.819 63.4506 133.349 61.5906C132.879 59.7306 130.259 55.7106 127.369 51.5006C129.799 50.5106 126.05 38.5506 119.24 33.1806C118.18 16.0506 91.9597 13.5806 74.8997 35.8406C74.8997 35.8406 76.9395 30.4106 81.1595 26.4706C50.9495 6.68063 50.4294 48.0506 40.0394 48.1606C54.3894 62.9606 61.4996 40.0306 70.5096 40.7606C63.2996 56.0106 69.8496 64.6706 73.7396 72.5106C81.0896 87.3206 63.4697 100.911 52.1097 90.3006C30.5197 70.1406 21.3197 44.4906 31.6497 26.6006C44.8498 3.73063 84.7694 2.06063 120.809 22.8606C156.849 43.6706 175.36 79.0706 162.15 101.941H162.139ZM125.01 72.1506C127.68 70.4206 129.659 70.9706 130.599 73.6806C128.279 72.6406 126.74 72.2006 125.01 72.1506Z"
                                      fill="#A0F818" />
                                  </svg>
                                  <div style="
                                  cursor: auto;
                                  color: #495551;
                                  font-size: 36px;
                                  font-weight: 600;
                                  line-height: 36px;
                                  text-align: center;
                                ">
                                    AutoSensei
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
      max-width: 640px;
      margin: 0 auto;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      overflow: hidden;
    ">
        <div style="margin: 0px auto; max-width: 640px; background: #22282f">
          <table role="presentation" cellpadding="0" cellspacing="0"
            style="font-size: 0px; width: 100%; background: #22282f" align="center" border="0"
            background="https://cdn.discordapp.com/email_assets/f0a4cc6d7aaa7bdf2a3c15a193c6d224.png">
            <tbody>
              <tr>
                <td style="
                text-align: center;
                vertical-align: top;
                direction: ltr;
                font-size: 0px;
                padding: 57px;
              ">
                  <div style="
                  cursor: auto;
                  color: white;
                  font-size: 36px;
                  font-weight: 600;
                  line-height: 36px;
                  text-align: center;
                ">
                    Change Of
                    <span style="color: #c1f861">Password</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="margin: 0px auto; max-width: 640px; background: #ffffff">
          <table role="presentation" cellpadding="0" cellspacing="0"
            style="font-size: 0px; width: 100%; background: #ffffff" align="center" border="0">
            <tbody>
              <tr>
                <td style="
                text-align: center;
                vertical-align: top;
                direction: ltr;
                font-size: 0px;
                padding: 40px 70px;
              ">
                  <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="
                  vertical-align: top;
                  display: inline-block;
                  direction: ltr;
                  font-size: 13px;
                  text-align: left;
                  width: 100%;
                ">
                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                      <tbody>
                        <tr>
                          <td style="
                          word-break: break-word;
                          font-size: 0px;
                          padding: 0px 0px 20px;
                        " align="left">
                            <div style="
                            cursor: auto;
                            color: #737f8d;
                            font-size: 16px;
                            line-height: 24px;
                            text-align: left;
                          ">
                              <div style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              margin: 20px 0px;
                            ">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100"
                                  viewBox="0 0 48 48">
                                  <path fill="#424242"
                                    d="M24,4c-5.514,0-10,4.486-10,10v4h4v-4c0-3.309,2.691-6,6-6s6,2.691,6,6v4h4v-4C34,8.486,29.514,4,24,4">
                                  </path>
                                  <path fill="#A0F818"
                                    d="M37,44H11c-2.209,0-4-1.791-4-4V22c0-2.209,1.791-4,4-4h26c2.209,0,4,1.791,4,4v18C41,42.209,39.209,44,37,44">
                                  </path>
                                  <path fill="#F1F8E9"
                                    d="M17 31c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3S17 29.343 17 31M37 31c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3S37 29.343 37 31M27 31c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3S27 29.343 27 31">
                                  </path>
                                </svg>
                              </div>
                              <h2 style="
                              font-family: Whitney, Helvetica Neue,
                                Helvetica, Arial, Lucida Grande,
                                sans-serif;
                              font-weight: 500;
                              font-size: 20px;
                              text-align: center;
                              color: #4f545c;
                              letter-spacing: 0.27px;
                            ">
                                You have requested to reset your password
                              </h2>
                              <p style="text-align: center;">
                                We cannot simply send you your old password. A unique link
                                to reset your password has been generated for you. To reset
                                your password, click the following link and follow the
                                instructions.
                              </p>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="
                          word-break: break-word;
                          font-size: 0px;
                          padding: 10px 25px;
                        " align="center">
                            <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse: separate"
                              align="center" border="0">
                              <tbody>
                                <tr>
                                  <td style="
                                  border: none;
                                  border-radius: 3px;
                                  color: white;
                                  cursor: auto;
                                  padding: 15px 19px;
                                  border-radius: 8px;
                                " align="center" valign="middle" bgcolor="#A0F818">
                                    <a style="
                                    text-decoration: none;
                                    line-height: 100%;
                                    color: #22282f;
                                    font-size: 15px;
                                    font-weight: 600;
                                    text-transform: none;
                                    margin: 0px;
                                  " target="_blank">
                                      Change Of Password
                                    </a>
                                     <%= locals.url %>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="margin: 0px auto; max-width: 640px; background: transparent">
        <table role="presentation" cellpadding="0" cellspacing="0"
          style="font-size: 0px; width: 100%; background: transparent" align="center" border="0">
          <tbody>
            <tr>
              <td style="
              text-align: center;
              vertical-align: top;
              direction: ltr;
              font-size: 0px;
              padding: 0px;
            ">
                <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="
                vertical-align: top;
                display: inline-block;
                direction: ltr;
                font-size: 13px;
                text-align: left;
                width: 100%;
              ">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="word-break: break-word; font-size: 0px">
                          <div style="font-size: 1px; line-height: 12px">
                            &nbsp;
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin: 0px auto; max-width: 640px; background: transparent">
        <table role="presentation" cellpadding="0" cellspacing="0"
          style="font-size: 0px; width: 100%; background: transparent" align="center" border="0">
          <tbody>
            <tr>
              <td style="
              text-align: center;
              vertical-align: top;
              direction: ltr;
              font-size: 0px;
              padding: 20px 0px;
            ">
                <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="
                vertical-align: top;
                display: inline-block;
                direction: ltr;
                font-size: 13px;
                text-align: left;
                width: 100%;
              ">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="
                        word-break: break-word;
                        font-size: 0px;
                        padding: 0px;
                      " align="center">
                          <div style="
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          gap: 20px;
                          margin-bottom: 20px;
                        ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                              fill="none">
                              <path
                                d="M14.0026 2.3335C7.5591 2.3335 2.33594 7.55666 2.33594 14.0002C2.33594 19.823 6.60244 24.6495 12.1803 25.5257V17.3718H9.21694V14.0002H12.1803V11.43C12.1803 8.50633 13.9209 6.89166 16.5868 6.89166C17.8631 6.89166 19.1978 7.11916 19.1978 7.11916V9.98916H17.7278C16.2776 9.98916 15.8261 10.8887 15.8261 11.8115V14.0002H19.0613L18.5444 17.3718H15.8261V25.5257C21.4028 24.6507 25.6693 19.8218 25.6693 14.0002C25.6693 7.55666 20.4461 2.3335 14.0026 2.3335Z"
                                fill="#22282f" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                              fill="none">
                              <path
                                d="M14.0026 10.5002C13.0743 10.5002 12.1841 10.8689 11.5277 11.5253C10.8714 12.1817 10.5026 13.0719 10.5026 14.0002C10.5026 14.9284 10.8714 15.8187 11.5277 16.475C12.1841 17.1314 13.0743 17.5002 14.0026 17.5002C14.9309 17.5002 15.8211 17.1314 16.4775 16.475C17.1339 15.8187 17.5026 14.9284 17.5026 14.0002C17.5026 13.0719 17.1339 12.1817 16.4775 11.5253C15.8211 10.8689 14.9309 10.5002 14.0026 10.5002ZM14.0026 8.16683C15.5497 8.16683 17.0334 8.78141 18.1274 9.87537C19.2214 10.9693 19.8359 12.4531 19.8359 14.0002C19.8359 15.5473 19.2214 17.031 18.1274 18.125C17.0334 19.2189 15.5497 19.8335 14.0026 19.8335C12.4555 19.8335 10.9718 19.2189 9.87781 18.125C8.78385 17.031 8.16927 15.5473 8.16927 14.0002C8.16927 12.4531 8.78385 10.9693 9.87781 9.87537C10.9718 8.78141 12.4555 8.16683 14.0026 8.16683ZM21.5859 7.87516C21.5859 8.26194 21.4323 8.63287 21.1588 8.90636C20.8853 9.17985 20.5144 9.3335 20.1276 9.3335C19.7408 9.3335 19.3699 9.17985 19.0964 8.90636C18.8229 8.63287 18.6693 8.26194 18.6693 7.87516C18.6693 7.48839 18.8229 7.11746 19.0964 6.84397C19.3699 6.57047 19.7408 6.41683 20.1276 6.41683C20.5144 6.41683 20.8853 6.57047 21.1588 6.84397C21.4323 7.11746 21.5859 7.48839 21.5859 7.87516ZM14.0026 4.66683C11.1163 4.66683 10.6449 4.675 9.3021 4.7345C8.38744 4.77766 7.77377 4.90016 7.20444 5.12183C6.6981 5.31783 6.33294 5.55233 5.94444 5.942C5.57928 6.29479 5.29852 6.72551 5.1231 7.202C4.90144 7.77366 4.77894 8.38616 4.73694 9.29966C4.67627 10.5877 4.66927 11.038 4.66927 14.0002C4.66927 16.8865 4.67744 17.3578 4.73694 18.7007C4.7801 19.6142 4.9026 20.229 5.1231 20.7972C5.32144 21.3047 5.55477 21.6698 5.9421 22.0572C6.33527 22.4492 6.70044 22.6837 7.2021 22.8773C7.77844 23.1002 8.3921 23.2238 9.3021 23.2658C10.5901 23.3265 11.0404 23.3335 14.0026 23.3335C16.8889 23.3335 17.3603 23.3253 18.7031 23.2658C19.6154 23.2227 20.2303 23.1002 20.7996 22.8797C21.3048 22.6825 21.6723 22.448 22.0596 22.0607C22.4528 21.6675 22.6873 21.3023 22.8809 20.8007C23.1026 20.2255 23.2263 19.6107 23.2683 18.7007C23.3289 17.4127 23.3359 16.9623 23.3359 14.0002C23.3359 11.1138 23.3278 10.6425 23.2683 9.29966C23.2251 8.38733 23.1026 7.77133 22.8809 7.202C22.7051 6.726 22.4249 6.29545 22.0608 5.942C21.7081 5.57665 21.2774 5.29586 20.8008 5.12066C20.2291 4.899 19.6154 4.7765 18.7031 4.7345C17.4151 4.67383 16.9648 4.66683 14.0026 4.66683ZM14.0026 2.3335C17.1724 2.3335 17.5679 2.34516 18.8116 2.4035C20.0541 2.46183 20.8999 2.65666 21.6443 2.946C22.4143 3.24233 23.0629 3.64366 23.7116 4.29116C24.3048 4.87437 24.7639 5.57985 25.0568 6.3585C25.3449 7.10166 25.5409 7.94866 25.5993 9.19116C25.6541 10.4348 25.6693 10.8303 25.6693 14.0002C25.6693 17.17 25.6576 17.5655 25.5993 18.8092C25.5409 20.0517 25.3449 20.8975 25.0568 21.6418C24.7647 22.4209 24.3056 23.1265 23.7116 23.7092C23.1282 24.3022 22.4228 24.7612 21.6443 25.0543C20.9011 25.3425 20.0541 25.5385 18.8116 25.5968C17.5679 25.6517 17.1724 25.6668 14.0026 25.6668C10.8328 25.6668 10.4373 25.6552 9.1936 25.5968C7.9511 25.5385 7.10527 25.3425 6.36094 25.0543C5.58198 24.762 4.87639 24.3029 4.2936 23.7092C3.70024 23.126 3.24119 22.4205 2.94844 21.6418C2.6591 20.8987 2.46427 20.0517 2.40594 18.8092C2.3511 17.5655 2.33594 17.17 2.33594 14.0002C2.33594 10.8303 2.3476 10.4348 2.40594 9.19116C2.46427 7.9475 2.6591 7.10283 2.94844 6.3585C3.24038 5.57937 3.69954 4.8737 4.2936 4.29116C4.87655 3.6976 5.5821 3.23851 6.36094 2.946C7.10527 2.65666 7.94994 2.46183 9.1936 2.4035C10.4373 2.34866 10.8328 2.3335 14.0026 2.3335Z"
                                fill="#22282f" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                              fill="none">
                              <path
                                d="M25.8583 6.59858C24.9676 6.99256 24.0231 7.2513 23.056 7.36625C24.0753 6.75659 24.8383 5.7971 25.2026 4.66658C24.246 5.23591 23.1971 5.63491 22.104 5.85075C21.3697 5.06509 20.3964 4.54404 19.3354 4.3686C18.2744 4.19316 17.1852 4.37315 16.2371 4.88061C15.289 5.38807 14.5351 6.19455 14.0926 7.17467C13.6501 8.1548 13.5438 9.25366 13.7903 10.3004C11.8503 10.2032 9.95235 9.69902 8.21979 8.82069C6.48724 7.94235 4.95877 6.70947 3.73362 5.20208C3.29996 5.94694 3.07207 6.79368 3.07329 7.65558C3.07329 9.34725 3.93429 10.8417 5.24329 11.7167C4.46864 11.6924 3.71103 11.4832 3.03362 11.1066V11.1672C3.03386 12.2939 3.42372 13.3858 4.13711 14.2578C4.85051 15.1298 5.84352 15.7283 6.94779 15.9517C6.22868 16.1466 5.47465 16.1753 4.74279 16.0357C5.05414 17.0055 5.66097 17.8536 6.47832 18.4614C7.29566 19.0691 8.28261 19.406 9.30096 19.4249C8.28885 20.2198 7.13 20.8074 5.89065 21.1541C4.65131 21.5008 3.35577 21.5999 2.07812 21.4456C4.30844 22.8799 6.90474 23.6414 9.55646 23.6389C18.5316 23.6389 23.4398 16.2037 23.4398 9.75558C23.4398 9.54558 23.434 9.33325 23.4246 9.12558C24.38 8.43511 25.2045 7.57977 25.8595 6.59975L25.8583 6.59858Z"
                                fill="#22282f" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                              fill="none">
                              <path
                                d="M25.1361 7.58084C25.6693 9.65984 25.6693 13.9998 25.6693 13.9998C25.6693 13.9998 25.6693 18.3398 25.1361 20.4188C24.8398 21.568 23.9729 22.4722 22.8751 22.7778C20.8813 23.3332 14.0026 23.3332 14.0026 23.3332C14.0026 23.3332 7.12744 23.3332 5.1301 22.7778C4.0276 22.4675 3.16194 21.5645 2.8691 20.4188C2.33594 18.3398 2.33594 13.9998 2.33594 13.9998C2.33594 13.9998 2.33594 9.65984 2.8691 7.58084C3.16544 6.43167 4.03227 5.5275 5.1301 5.22184C7.12744 4.6665 14.0026 4.6665 14.0026 4.6665C14.0026 4.6665 20.8813 4.6665 22.8751 5.22184C23.9776 5.53217 24.8433 6.43517 25.1361 7.58084ZM11.6693 18.0832L18.6693 13.9998L11.6693 9.9165V18.0832Z"
                                fill="#22282f" />
                            </svg>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="
                        word-break: break-word;
                        font-size: 0px;
                        padding: 0px;
                      " align="center">
                          <div style="
                          cursor: auto;
                          color: #99aab5;
                          font-size: 12px;
                          line-height: 24px;
                          text-align: center;
                        ">
                            © 2023 AutoSensei. All Rights Reserved.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>

</html>